@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interFont-solight {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: black;

}

.interFont-solight-small {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: black;
    font-size: 17px;
}

.interFont-light {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-transform: uppercase;
}

.interFont-medium {
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 70px;
    color: black;
    letter-spacing: 8px;

}

.interFont-medium-large {
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 90px;
    color: black;
    letter-spacing: 8px;
}

.interFont-bold {
    font-family: "Inter", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 22px;
    color: black;
}

.interFont-bold-small {
    font-family: "Inter", serif;
    font-weight: 650;
    font-style: normal;
    text-transform: capitalize;
    font-size: 13px;
    color: black;
}
.interFont-bold-large{
    font-family: "Inter", serif;
    font-weight: 650;
    font-style: normal;
    text-transform: capitalize;
    font-size: 90px;
    color: black;
    letter-spacing: 19px;

}

.interFont-medium-large {
    font-family: "Inter", serif;
    font-weight: 450;
    font-style: normal;
    text-transform: capitalize;
    font-size: 50px;
    color: black;
    letter-spacing: 10px;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

/* .container {
    width: 100%;
    max-width: 100%;
    padding: 0;

} */

.blackBan {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    /* justify-content: space-between; */
}

.blackBan a {
    color: white;
}
.blackBan a:hover{
color: rgb(160, 160, 160);
}

.roboto-main-light {
    font-family: "Roboto", serif;
    font-weight: 200;
    font-style: normal;
}

.buttonsLang {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

nav {
    position: sticky;
    top: 0;
    border-bottom: solid 1px rgba(206, 206, 206, 0.885);
}

.navbar {
    position: sticky;
    z-index: 6;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid rgba(206, 206, 206, 0.885);
}
.navbar i {
    cursor: pointer;
    }
    

.logoNav img {
    display: flex;
    justify-content: center;
    width: 180px;
}

.searchIcon {
    width: 70px;
}


/* .container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.userLogo,
.favLogo,
.cartLogo {
    width: 30px;
}

.offcanvas-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.offcanvas-body-2 input {
    width: 70%;
}

.offcanvas-body-2 img {
    width: 30px;
}

.offcanvas-body-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.offcanvas-body a:hover{
    color: rgba(209, 2, 2, 1);
    font-weight: bold;
    text-decoration: underline;
}

.breadcrumb{
    display: flex;
    justify-content: center;
}
.breadcrumb-item a{
    text-decoration: none;
    color: rgba(16, 16, 16, 0.792);
}
.breadcrumb li:hover{
    color: rgba(209, 2, 2, 1);
    text-decoration: underline;
}
.breadcrumb a:hover{
    color: rgba(209, 2, 2, 1);
    text-decoration: underline;
}
.gridList{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gridLeft i{
    width: 25px;
    height: 25px;
}
.gridLeft i:hover{
    color: rgba(209, 2, 2, 1); 
    cursor: pointer;
}
.gridLeft{
    display: flex;
    justify-content: center;
}
.gridRight{
    display: flex;
    justify-content: center;
}
label:hover{
    color: rgba(209, 2, 2, 1); 
    cursor: pointer;
}
.gridRight button:hover{
    background-color: rgba(209, 2, 2, 1);
    color: white;
}
.allFiltersSmall:hover{
    color: rgba(209, 2, 2, 1); 
    cursor: pointer;
}

.category-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.category-item:hover .category-image {
    opacity: 0.5;
    background-color: rgba(60, 58, 58, 0.948); 
    transform: translateY(-10px);

}


.category-section swiper-container {
    width: 100%;
    height: 100%;
  }

  .category-section swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category-section swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    cursor: pointer;


  }
  swiper-slide:hover .layer{
    opacity: 1;

}
swiper-slide svg{
    opacity: 0;
}

swiper-slide:hover svg{
opacity: 1;
display: block;
}

.filterType, .filterColor, .filterPrice, .filterMaterial, .filterSize, .filterPattern{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase
  
}
.filterType, .filterColor, .filterPrice, .filterMaterial, .filterSize, .filterPattern li{
text-transform: capitalize;
font-size: 15px;
font-weight: 500px;
}
.contentShop{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.allItems h4:hover {
    color: rgba(209, 2, 2, 1);
}

.allFilters {
    display: flex;
    flex-direction: column;
    width: 19%;
}

.filter-icon {
    width: 20px;
}
.allFilters a {
    color: black;
    text-decoration: none;
}
.allFilters a:hover{
color: rgba(209, 2, 2, 1);
font-weight: bold;

}

.badge {
    background-color: rgba(209, 2, 2, 1);
    border-radius: 0;
    text-transform: uppercase;
}

.buttonContainer button {
    color: white;
    visibility: hidden;
    width: 100%;
    text-transform: uppercase;
    padding: 15px;
    transition: ease all 500ms;
}

.cardContainer:hover button {
    visibility: visible;
    background-color: rgba(209, 2, 2, 1);
}

.itemsGrid{
    flex: 1; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #f8f8f8;
}
.card{
    transition: ease all 400ms;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

#woodChair{
    background-image: url('./pics/woodenchairwesh.jpg');
    width: 100%;
}
#woodChair:hover{
    background-image: url('./pics/woodenchair.jpg');
}

.icon{
    position: relative;
    width: 100%;
    
    /* display: none; */
}
.icon:hover p{
    display: block;
}
.icon p{
    display: none;
    position: absolute;
    bottom: -180px;
    right: 40px;
    background-color: rgba(209, 2, 2, 1);
    color: white;
    border-radius: 5px;
}

.like {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    background-image: url('./pics/like.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease all 500ms;
    position: absolute;
    bottom: -180px;
    right: 0px;
    }
   
.like:hover {
    background-color: rgba(209, 2, 2, 1);
    border-radius: 50%;
    border: 50px;
    background-image: url('./pics/likewhite.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.card:hover button{
    display: block !important;
    color: black;
    background-color: white;
}
.card button:hover{
    background-color: rgba(209, 2, 2, 1);
    color: white;
}

.cardTitle:hover h4{
    color: rgba(209, 2, 2, 1);
}
#cabinet {
    background-image: url('./pics/cabinet\ no\ hover.jpg');
    width: 100%;
}

#cabinet:hover {
    background-image: url('./pics/cabinethover.jpg');
}


#bed {
    background-image: url('./pics/bednohover.jpg');
    width: 100%;
}

#bed:hover {
    background-image: url('./pics/bedhover.jpg');
}

#lamp {
    background-image: url('./pics/lampnohover.jpg');
    width: 100%;
}


#lamp:hover {
    background-image: url('./pics/lamphover.jpg');
    
}

#brownCabin{
    background-image: url('./pics/browncabinnohover.jpg');
    width: 100%;
}

#brownCabin:hover {
    background-image: url('./pics/browncabinhover.jpg');
    
}
#branchTable{
    background-image: url('./pics/branchtablenohover.jpg');
    width: 100%;
}
#branchTable:hover{
    background-image: url('./pics/branchtablehover.jpg');

}
#whiteCouch{
    background-image: url('./pics/greycouchnohover.jpg');
    width: 100%;
}
#whiteCouch:hover{
    background-image: url('./pics/greycouchhover.jpg');
}

#roundCabin{
    background-image: url('./pics/circlecabinnohover.jpg');
    width: 100%;
}
#roundCabin:hover{
    background-image: url('./pics/circlecabinhover.jpg');

}
#lastCouch{
    background-image: url('./pics/whitecouchnohover.jpg');
    width: 100%;
}
#lastCouch:hover{
    background-image: url('./pics/greycouchhover.jpg');
    
}

#smallChair{
    background-image: url('./pics/chairnohover.jpg');
    width: 100%;
}
#smallChair:hover{
    background-image: url('./pics/chairhover.jpg');

}

#bigLamp{
    background-image: url('./pics/lampsteelnohover.jpg');
    width: 100%;
}
#bigLamp:hover{
    background-image: url('./pics/lampsteelhover.jpg');
}
#blackChair{
    background-image: url('./pics/chairblacknohover.jpg');
    width: 100%;
}
#blackChair:hover{
    background-image: url('./pics/chairblackhover.jpg');

}


.pagesNum{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #f1f1f1;
}
.page-link{
    color: black;
}

.page-link:hover{
    color: white;
    background-color: black;
}
.page-item{
    color: white;
}

.logoFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logoFooter img {
    width: 180px;

}

.copyrightContainer {
    display: flex;
    justify-content: space-around;
}

.copyrightContainer a {
    text-decoration: none;
    color: black;
}

.list-unstyled a {
    text-decoration: none;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
}
footer a:hover {
    color: rgba(209, 2, 2, 1);
}

.list-unstyled input {
    border: none;
    padding: 5px;
}

footer a:hover {
    color: rgba(209, 2, 2, 1);
}
.socialMedia{
    display: flex;
  
}

button i:hover{
    color: rgba(209, 2, 2, 1);
}
.subscribeButton{
    color: white;
    background-color: black;
}
.subscribeButton:hover{
    background-color: rgba(209, 2, 2, 1);
}